/* default */

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: 'Inconsolata', monospace;
  color: white;
}

/* navbar */

.logo {
  margin: 1rem;
  font-size: large;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.navbar {
  list-style-type: none;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.primary-nav {
  padding: 0;
  margin: 0;
  background: hsl(0 0% 0% / 0.75);
  font-size: medium;

  opacity: 100%;
  transform: translateY(0);
  padding-inline: clamp(3rem, 10vw, 6rem);
  padding-block: 1.5rem;
}

.secondary-nav {
  padding: 0;
  margin: 0;
  background: hsl(0 0% 0% / 0.75);
  font-size: small;
  position: fixed;
  gap: 0.5rem;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  transform: translateY(100%);
  padding-inline: clamp(0.5rem, 10vw, 2rem);
  padding-block: 0.5rem;
}

.secondary-nav-container {
  display: flex;
  justify-content: center;
}


@supports (backdrop-filter: blur(1rem)) {
  .navbar {
    background: hsl(0 0% 100% / 0.05);
  }
}

@media (min-width: 35em) {
  .primary-nav {
    transition-delay: 0.15s;
  }
}

@media (max-width: 35em) {
  .primary-nav {
    opacity: 0;
    transform: translateY(-100%);
    padding-block: 1.5rem;
  }
  .secondary-nav {
    opacity: 100%;
    transform: translateY(-75%);
    padding-inline: clamp(0.5rem, 10vw, 2rem);
    padding-block: 0.5rem;
    transition-delay: 0.15s;
  }
}
