/* default */

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

p {
  z-index: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: 'Sometype Mono', monospace;
  color: white;
}

hr {
  padding: 0;
  margin:0;
}

/* navbar */

.logo {
  margin: 1rem;
  font-size: large;
  font-weight: 700;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.navbar {
  list-style-type: none;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: white;
  background-color: black;
}

.primary-nav {
  padding: 0;
  margin: 0;
  font-size: large;
  font-weight: 400;
  opacity: 100%;
  transform: translateY(0);
  padding-inline: clamp(3rem, 10vw, 8rem);
  padding-block: 1.5rem;
}

.secondary-nav {
  padding: 0;
  margin: 0;
  font-size: medium;
  font-weight: 400p;
  position: fixed;
  gap: 0.5rem;
  bottom: 2rem;
  z-index: 1000;
  opacity: 0;
  transform: translateY(100%);
  padding-inline: clamp(0.5rem, 10vw, 2rem);
  padding-block: 0.5rem;
}

.secondary-nav-container {
  display: flex;
  justify-content: center;
}

/* banner */

.banner-container {
  margin: 2rem 5rem;
  transition: margin 0.15s ease-in-out;
}

.banner-main {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.banner-col {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  width: 38em;
  scale: inherit;
  align-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
  font-size: 4rem;
}

.word {
  margin: 0;
}

.banner-img {
  scale: 1;
}

.img-container {
  display: block;
  margin-top: 2rem;
}


@media (min-width: 40em) {
  .secondary-nav[data-visible='true'] {
    opacity: 100%;
    transform: translateY(0%);
    padding-inline: clamp(0.5rem, 10vw, 2rem);
    padding-block: 0.5rem;
  }
}

@media (max-width: 40em) {
  .primary-nav {
    opacity: 0;
    transform: translateY(-100%);
    padding-block: 1.5rem;
  }
  .secondary-nav {
    opacity: 100%;
    transform: translateY(0%);
    padding-inline: clamp(0.5rem, 10vw, 2rem);
    padding-block: 0.5rem;
  }
  .banner-main {
    align-items: center;
  }
  .banner-container {
    margin-top: -2rem;
  }
}
