/* default */

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem)
}

p {
  z-index: 0;
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: 'Sometype Mono', monospace;
  color: white;
}

hr {
  padding: 0;
  margin:0;
}

/* projects */

.projects-title {
  margin: 1rem;
  font-size: large;
  font-weight: 700;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-card {
  border: 4px solid white;
  border-radius: 2px;
  height: 290px;
  margin: 1rem;
  text-align: center;
  width: 290px;
  min-width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.fitnesstracker {
  background-image: url('./assets/fitness-tracker.png');
}

.ppbot {
  background-image: url('./assets/bot.png');
}

.projects-card a {
  position: absolute;
  width: inherit;
  height: inherit;
}

.projects-card h2 {
  position: absolute;
  background-color: black;
  border: 2px solid white;
  padding: 5px 15px;
  border-radius: 2px;
}

.projects-desc {
  position: absolute;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background-color: black;
  opacity: 0;
  cursor: pointer;
}

.projects-desc:hover {
  opacity: 1.0;
}

.projects-desc p {
  margin: 5px;
}

.projects-tech {
  bottom: 0
}

.projects-card p {
  align-self: flex-start;
  justify-self: flex-start;
  position: absolute;
  padding: 5px;
  border-radius: 2px;
}

/* navbar */

.logo {
  margin: 1rem;
  font-size: large;
  font-weight: 700;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.navbar {
  list-style-type: none;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  border: 1px;
  
  background-color: black;
}

.primary-nav {
  padding: 0;
  margin: 0;
  font-size: large;
  font-weight: 700;
  opacity: 100%;
  transform: translateY(0);
  margin: 1rem;
  gap: 1.5rem
}

.secondary-nav {
  padding: 0;
  margin: 0;
  font-size: medium;
  font-weight: 700;
  position: fixed;
  gap: 0.5rem;
  bottom: 2rem;
  z-index: 1000;
  opacity: 0;
  transform: translateY(100%);
  padding-inline: clamp(0.5rem, 10vw, 2rem);
  padding-block: 0.5rem;
  border-style: solid;
  border-color: white;
}

.secondary-nav-container {
  display: flex;
  justify-content: center;
}

/* banner */

.banner-container {
  margin: 2rem 5rem;
  transition: margin 0.25s ease-in-out;
}

.banner-main {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.banner-col {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.banner-text {
  width: 38em;
  scale: inherit;
}

.line {
  display: flex;
  justify-content: space-between;
  font-size: 4rem;
}

.word {
  margin: 0;
  transition: opacity 0.2s ease-in-out
}

.img-container {
  display: block;
  margin-top: 2rem;
}

.banner-text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy > .letter {
  display: inline-block;
  transition: transform 0.3s ease-in-out
}

.fancy-1:hover > .letter:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg); 
}

.fancy-1:hover > .letter:nth-child(2) {
  transform: translate(-50%, -20%) rotate(-8deg); 
}

.fancy-1:hover > .letter:nth-child(3) {
  transform: translate(-10%, -10%) rotate(17deg); 
}

.fancy-1:hover > .letter:nth-child(4) {
  transform: translate(-10%, 50%) rotate(25deg); 
}

.fancy-1:hover > .letter:nth-child(5) {
  transform: translate(30%, 10%) rotate(-11deg); 
}

.fancy-1:hover > .letter:nth-child(6) {
  transform: translate(20%, -40%) rotate(3deg); 
}

.fancy-1:hover > .letter:nth-child(7) {
  transform: translate(10%, 20%) rotate(-22deg); 
}

.fancy-2:hover > .letter:nth-child(1) {
  transform: translate(-10%, -30%) rotate(-12deg); 
}

.fancy-2:hover > .letter:nth-child(2) {
  transform: translate(-40%, 40%) rotate(-8deg); 
}

.fancy-2:hover > .letter:nth-child(3) {
  transform: translate(-20%, 10%) rotate(17deg); 
}

.fancy-2:hover > .letter:nth-child(4) {
  transform: translate(-30%, -40%) rotate(-25deg); 
}

.fancy-2:hover > .letter:nth-child(5) {
  transform: translate(-30%, -10%) rotate(11deg); 
}

.fancy-2:hover > .letter:nth-child(6) {
  transform: translate(10%, 40%) rotate(-20deg); 
}

.fancy-2:hover > .letter:nth-child(7) {
  transform: translate(10%, -30%) rotate(15deg); 
}

.fancy-2:hover > .letter:nth-child(8) {
  transform: translate(10%, 20%) rotate(-22deg); 
}

.fancy-2:hover > .letter:nth-child(9) {
  transform: translate(40%, 30%) rotate(-10deg); 
}

@media (min-width: 40em) {
  .secondary-nav[data-visible='true'] {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@media (max-width: 40em) {
  .primary-nav {
    opacity: 0;
    transform: translateY(-100%);
  }
  .secondary-nav {
    opacity: 100%;
    transform: translateY(0%);
  }
  .banner-main {
    align-items: center;
  }
  .banner-container {
    margin-top: -2rem;
  }
}

